/* homePage.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #3a2b4d;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.header h1 {
  margin: 0;
}

.header h3 {
  margin: 0;
}

.header hr {
  border-color: #fff;
}

.header nav ul {
  list-style: none;
  padding: 0;
}

.header nav li {
  display: inline;
  margin-right: 20px;
}

.icon {
  vertical-align: middle;
  margin-right: 5px;
}

.icon a {
  color: #fff;
  text-decoration: none;
}

.icon a:hover {
  text-decoration: underline;
}

.body {
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
}

.column {
  display: inline-block;
  width: 700px;
  height: 300px;
  margin: 10px;
  padding: 30px;
  border-radius: 20px;
  background-color: #e0ded1;
}

.column h3 {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  text-align: start;
}

ul li {
  display: inline-block;
  list-style: none;
}

ul li span {
  font-weight: bold;
}

.desc {
  display: block;
  text-align: center;
  margin-bottom: 30px;
}

footer {
  text-align: center;
  background-color: #3a2b4d;
  color: #fff;
  padding: 20px;
}

footer a {
  background-color: #e0ded1;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  color: #3a2b4d;
}

footer a:hover {
  background-color: #3a2b4d;
  color: #fff;
}
