/* Styles for the body */

body {
    font-family: Arial, sans-serif;
    background-color: #040D12;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


/* Header Styles */

header {
    color: #fff;
    text-align: center;
    padding: 20px;
}

hr {
    border: 3px solid #93B1A6;
    border-radius: 3px;
}


/* Navigation Styles */

nav {
    display: flex;
    justify-content: space-between;
    /* Distribute items horizontally with space in between */
    align-items: center;
    background-color: #183D3D;
    border-radius: 15px;
    /* Add background color */
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
    /* Adjust the right margin for spacing */
    display: flex;
    align-items: center;
}

nav img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}


/* Remove color change on link click */

nav a {
    text-decoration: none;
    color: #fff;
    /* Set link text color to white */
}

nav a:hover {
    color: #93B1A6;
}


/* Styling for the .desc p */

.desc {
    position: absolute;
    /* Position it absolutely within the header */
    right: 20px;
    /* Adjust the distance from the right side as needed */
}


/* Styles for the footer */

footer {
    justify-content: space-between;
    display: flex;
    list-style: none;
    background-color: #183D3D;
    color: #fff;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    margin-top: auto;
}

footer a {
    text-decoration: none;
    color: #fff;
}

footer a:hover {
    color: #93B1A6;
}