/* Create a grid layout for the body */

.body {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding-bottom: 50px;
    margin: 50px;
}


/* css for h2 */

h2 {
    color: #5C8374;
}


/* Style the song table */

.song-table {
    background-color: #5C8374;
    border: 3px solid #93B1A6;
    border-radius: 3px;
}

.song-table td {
    text-align: center;
    /* Center text in table cells */
    padding: 10px;
}


/* Style the analysis table */

.analysis-table {
    background-color: #5C8374;
    border: 3px solid #93B1A6;
    border-radius: 3px;
}

.analysis-table td {
    text-align: center;
    /* Center text in table cells */
    padding: 10px;
}

.song-table td,
.analysis-table td {
    font-size: medium;
    color: black;
}


/* Style the variables within the tables */

.song-table td b,
.analysis-table td b {
    font-size: larger;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
}


/* css for image */

.single {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 90px;
}